// Colors
$brand-pink: #e6237b;
$brand-purple: #160e50;
$cornflower: #5969fc;
$pale-pink: #ffc5de;
$coral-pink: #ff5464;
$apricot: #ff996e;
$peach: #ff6f6e;
$parchment: #ffffb0;
$orange-yellow: #ffa300;
$aqua: #1be0bf;
$neon-blue: #0dccff;
$yellow-green: #cafa3e;
$primary-blue: #1206fc;
$baby-purple: #ff94fc;
$light-cyan: #a3ffef;
$white: #ffffff;
$white-75: rgba(255, 255, 255, 0.75);

// Fonts
$TroisMilleBlack: 'TroisMilleBlack', Helvetica, Arial, sans-serif !default;
$TroisMilleLight: 'TroisMilleLight', Helvetica, Arial, sans-serif !default;

// breakpoints
$no-break: 0 !default;
$xs-break: 340px !default;
$sm-break: 500px !default;
$md-break: 740px !default;
$lg-break: 1040px !default;
$xl-break: 1460px !default;